.header {
  position: fixed;
  width: calc(100vw - 4rem);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  border-bottom: 1px solid black;
}

.title {
  margin: 0;
}

.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: inline-block;
  margin-left: 2rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
